@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

@mixin button($bgColor: $blue) {
  color: #fff;
  background-color: $bgColor;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  cursor: pointer;
  background: $bgColor;
  &:hover {
    background: darken($bgColor, 8%);
    transition: all 0.3s ease;
  }
  &:active {
    background: darken($bgColor, 25%);
  }
  &:disabled {
    background-color: $grey--light;
    color: $text;
    border: 1px solid $grey;
    cursor: default;
  }
}

.btn--primary {
  @include button();
}

.btn--danger {
  @include button($red);
}
