@import "../../styles/variables.scss";

form {
  padding-top: 1rem;
}

.group {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 0.5rem;
}

.input {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: $text;
  background-color: #fff;
  border: 1px solid $grey;
  border-radius: 0.25rem;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
