@import "../../styles/variables.scss";

.layout {
  position: relative;
  display: flex;
  flex-direction: column;
}

.body {
  max-height: calc(100vh - 120px) !important;
  overflow: auto;
  padding-bottom: 1rem;
  color: $text;
}

.title {
  font-size: 1.25rem;
  font-weight: 500;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.close {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  opacity: 0.5;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.content {
  position: absolute;
  top: 10%;
  left: 35%;
  right: auto;
  bottom: auto;
  width: 30%;
  background-color: white;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  @media only screen and (max-width: 900px) {
    top: 10%;
    left: 5%;
    right: auto;
    bottom: auto;
    width: 90%;
  }
}

.overlay {
  position: fixed;
  background-color: #00507699;
  z-index: 20;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
