@import "../../styles/variables.scss";

.tableResponsive {
  overflow-x: auto;
}

.table {
  border-collapse: separate;
  border-spacing: 0 1rem;
  width: 100%;
  @media only screen and (max-width: 900px) {
    padding: 1rem;
  }
  th {
    border-bottom: 1px solid $grey--dark;
    text-align: left;
    padding: 5px 20px;
    font-weight: normal;
    width: 20%;
  }
  td {
    padding: 20px;
    color: $text;
  }
  .row {
    background-color: $grey--light;
  }
}

.delete {
  border: 0;
  cursor: pointer;
  background: $red;
  width: 2em;
  height: 2em;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background: $red--dark;
  }
}

.message {
  text-align: center;
  span {
    display: inline-block;
    margin-top: 60px;
  }
}
