@import "../../styles/variables.scss";

header {
  background-color: $headerBg;
  padding: 10px;
  position: sticky;
  top: 0;
  .title {
    color: white;
    font-size: 1.6rem;
    margin-left: 0.5rem;
  }
}
