.search {
  display: flex;
  align-items: center;
  @media only screen and (max-width: 900px) {
    margin-left: 1rem;
  }
  label {
    margin-right: 0.5rem;
  }
  input {
    padding: 0.25em 0.5em;
  }
}
